$color__background-body: $body-bg;
$color__background-screen: $body-br;
$color__background-hr: $primary;
$color__background-button: $primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $body-color;
$color__text-input: $body-color;
$color__text-input-focus: $body-color;
$color__link: $primary; //royalblue
$color__link-visited: $primary; //purple
$color__link-hover: $primary; //midnightblue
$color__text-main: $body-color;

$color__border-button: $primary;
$color__border-button-hover: $primary;
$color__border-button-focus: $primary;
$color__border-input: $primary;
$color__border-abbr: $primary;
